media/videos/scene/480p15/partial_movie_files/
media/videos/AnimatedSquareToCircle/480p15/partial_movie_files/
media/videos/BhaskaraII_ICTS/480p15/partial_movie_files/
media/videos/CreateCircle/480p15/partial_movie_files/
media/videos/DifferentRotations/480p15/partial_movie_files/
media/videos/SquareAndCircle/480p15/partial_movie_files/
media/videos/SquareToCircle/480p15/partial_movie_files/
media/Tex/
media/texts/
*.pyc
*/partial_movie_files/


